{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        reagent/reagent {:mvn/version "1.1.1"}
        re-frame/re-frame {:mvn/version "1.3.0"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        ;; For Polyglot.js compilation
        #_{:git/url "https://github.com/nextjournal/clojurescript"
           :sha "da9166015f6a28b2c18fa7706e457901d02a5d81"}}

 :aliases
 {:shadow-cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.20"}
                ;; For spotin, TODO add a separate profile
                io.github.metosin/sieppari {; does not seem to be properly tagged
                                            ; :git/tag "0.0.0-alpha13"
                                            :git/sha "3c21c7d15e6cc571fab4b92ec90e3200b23860af"}
                cljs-bean/cljs-bean {:mvn/version "1.9.0"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]
   :extra-paths ["lib/src"
                 "modules/dkmsin/src"
                 "modules/flatpakin/src"
                 "modules/resticin/src"
                 "modules/spotin/src"]}

  :fmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
   :main-opts ["-m" "cljfmt.main" "--indents" "cljfmt-indents.edn" "check"]}

  :fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
   :main-opts ["-m" "cljfmt.main" "--indents" "cljfmt-indents.edn" "fix"]}

  :nsorg
  {:extra-deps {nsorg-cli/nsorg-cli {:mvn/version "0.3.1"}}
   :main-opts ["-m" "nsorg.cli"]}

  :nsorg/fix
  {:extra-deps {nsorg-cli/nsorg-cli {:mvn/version "0.3.1"}}
   :main-opts ["-m" "nsorg.cli" "--replace"]}}}
