{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.0.0-alpha2"]]

 :builds
 {:dkmsin {:target :node-script
           :output-to "target/dkmsin.js"
           :main intools.dkmsin.main/-main}

  :flatpakin {:target :node-script
              :output-to "target/flatpakin.js"
              :main intools.flatpakin.main/-main}

  :resticin {:target :node-script
             :output-to "target/resticin.js"
             :main intools.resticin.main/-main}}}
