{:source-paths
 ["lib/src" "modules/dkmsin/src" "modules/flatkpakin/src" "modules/resticin/src" "modules/spotin/src/"]

 :nrepl {:port 34638}

 ;; "yoga-layout-prebuilt" includes native libs, so it cannot be AOT bundled
 :builds
 {:dkmsin {:target :node-script
           :output-to "modules/dkmsin/build/dkmsin.js"
           :main intools.dkmsin.main/-main
           :js-options
           {:js-provider :shadow
            :keep-native-requires true
            :keep-as-require #{"yoga-layout-prebuilt"}}}

  :flatpakin {:target :node-script
              :output-to "modules/flatpakin/build/flatpakin.js"
              :main intools.flatpakin.main/-main
              :js-options
              {:js-provider :shadow
               :keep-native-requires true
               :keep-as-require #{"yoga-layout-prebuilt"}}}

  :resticin {:target :node-script
             :output-to "modules/resticin/build/resticin.js"
             :main intools.resticin.main/-main
             :js-options
             {:js-provider :shadow
              :keep-native-requires true
              :keep-as-require #{"yoga-layout-prebuilt"}}}

  :spotin {:target :node-script
           :output-to "modules/spotin/build/spotin.js"
           :main intools.spotin.main/-main
           :js-options
           {:js-provider :shadow
            :keep-native-requires true
            :keep-as-require #{"yoga-layout-prebuilt"}}}}}
