;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.0.0-alpha2"]]

 ; :deps {:aliases [:compile-js]}

 :builds
 {:script
  {:target :browser
   :modules {:main {:entries [my.app]}}
   :output-dir "out"}

  :app {:target :node-script
        :output-to "target/main.js"
        :main #_intools.dkmsin.main/-main
                intools.flatpakin.main/-main}}}
