{:deps {io.github.noahtheduke/lazytest {:mvn/version "1.8.0"}
        babashka/fs {:mvn/version "0.5.22"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.955"}
        org.xerial/sqlite-jdbc {:mvn/version "3.45.3.0"}}
 :paths ["src" "test"]
 :tasks
 {test:once
  {:doc "Run tests once"
   :task (clojure "-M:test")}

  test
  {:doc "Run tests in watch mode"
   :task (clojure "-M:test" "--watch")}

  test:coverage
  {:doc "Generate test coverage report"
   :task (clojure "-X:coverage")}}}
